#header {
  position: fixed;
  top: 0;
  padding: 20 115px;
  background-color: bisque;
  width: 100%;
}

ul {
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
